/* PARAMETRES */
:root {
  --colorDefault: #333333;
  --color1: #ffffff;
  --color2: #212121;
  --color3: #ffb800;
  --color4: #333333;
}
::-webkit-scrollbar {
  background: var(--color4);
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background: var(--color3);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  color: var(--color1);
  font-family: "Saira Condensed", sans-serif;
  font-weight: 300;
  background: var(--color2);
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Chrome, Safari, OpÃ©ra depuis la version 15 */
  -ms-user-select: none; /* Internet explorer depuis la version 10 et Edge */
  user-select: none; /* PropriÃ©tÃ© standard */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  overflow-x: hidden;
}
h1 {
  position: absolute;
  left: -1000%;
}
h2 {
  font-size: 11vh;
}
a,
a:hover {
  text-decoration: none;
  font-style: none;
  color: var(--color1);
}
input,
textarea,
select {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--color3);
  padding: 1rem;
  border-bottom: 1px solid var(--color1);
  outline: none;
  text-transform: none;
}
input::placeholder,
textarea::placeholder {
  color: var(--color3);
  opacity: 0.5;
}
.display {
  visibility: hidden !important;
  opacity: 0 !important;
}
/* NAVIGATION */
.nav {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
}
.navLogo {
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
  margin: 0 0 0 5rem;
  font-size: 3rem;
}
.navLogo > span {
  color: var(--color3);
}
.navIconMenu {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0 5rem 0 0;
  position: relative;
}
/* MENU */
.menu {
  width: 100%;
  height: 100%;
}
.menuFiltre {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  opacity: 0.6;
  visibility: visible;
  transition: 0.3s;
  background-color: black;
}
.menuContent {
  width: 0;
  height: 100%;
  background-color: var(--color4);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  z-index: 4;
  overflow: hidden;
}
.menuActivated {
  width: 40rem;
}
.menuCrossIcon {
  width: 3rem;
  height: 5rem;
  cursor: pointer;
  margin: 5rem;
  position: absolute;
  top: 0;
  right: 0;
}
.menuLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: fit-content;
  font-size: 5rem;
  text-transform: capitalize;
}
.menuLink {
  margin: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.menuLink:hover {
  color: var(--color3);
}
.menuLinkNumber {
  width: fit-content;
  height: fit-content;
  color: var(--color3);
  font-size: 2rem;
  margin: 0;
}
/* VERTICALES LINES */
.lines {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.line {
  border-left: 2px solid var(--color4);
  display: inline-block;
  height: 100%;
  margin: 0;
  transition: 0.3s;
}
/* HOME */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.homeTitles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translate(-4rem, -12rem);
  z-index: 3;
}
.homeTitlesContent {
  display: block;
}
.homeTitle {
  text-transform: capitalize;
  margin: 0;
}
.homeTitle:nth-child(2) {
  color: var(--color3);
}
.homeTitle:nth-child(1),
.homeSubtitle {
  margin: 0 0 0 4rem;
}
.homeTitle:nth-child(1) {
  transform: translateY(6rem);
}
.homeSubtitle {
  margin: 0 0 0 3rem;
  transform: translateY(-3rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
.homeSubtitleHook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.homeSubtitleCV {
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
}
.homeSubtitleIcon {
  width: 3rem;
  height: 3rem;
  margin: 0 0 0 1rem;
  position: relative;
  transform: rotate(-90deg);
}
.homeCard {
  position: relative;
  width: 46rem;
  height: 70rem;
  transform: translateX(-12rem);
}
.homeCardImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../data/img/photo.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  box-shadow: 0px 4px 40px rgb(0 0 0 / 50%);
}
.homeCardFond {
  width: 100%;
  height: 100%;
  background-color: var(--color3);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.5);
  transform: rotate(2.26deg);
}
.homeCardGradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgb(0 0 0 / 50%));
  z-index: 2;
}
.homeCardDescription {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-weight: 300;
  font-size: 3rem;
  color: var(--color3);
  margin: 0;
  text-transform: capitalize;
  z-index: 2;
}
.homeLanguages {
  position: absolute;
  bottom: 5rem;
  left: 5rem;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.homeLanguagesSelect {
  color: var(--color1);
  cursor: pointer;
  text-transform: capitalize;
}
.homeLanguagesSubmit {
  border: none;
  text-transform: capitalize;
  cursor: pointer;
}
.homeLanguagesSelectOption {
  background-color: var(--color2);
  border: none;
}
.circle {
  position: absolute;
  bottom: 10rem;
  right: 20rem;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
}
.circleArrow {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}
.circle text {
  font-family: "Helvetica Neue", Arial;
  font-size: 1.47rem;
}
.circle .circleIcon {
  width: 100%;
  height: 100%;
  -webkit-animation-name: rotate;
  -moz-animation-name: rotate;
  -ms-animation-name: rotate;
  -o-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 30s;
  -moz-animation-duration: 30s;
  -ms-animation-duration: 30s;
  -o-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(360deg);
  }
  to {
    -moz-transform: rotate(0);
  }
}
@-ms-keyframes rotate {
  from {
    -ms-transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0);
  }
}
@-o-keyframes rotate {
  from {
    -o-transform: rotate(360deg);
  }
  to {
    -o-transform: rotate(0);
  }
}
@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

/* CONTACT */
.contact {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contactTitle {
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  transform: translateY(-5rem);
}
.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactFormInformations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inputFirstname {
  margin: 0 5rem;
}
.inputMessage {
  width: 100%;
  height: 15rem;
  margin-top: 5rem;
}
.inputBtnSend {
  border: none;
  font-size: 3rem;
  margin-top: 5rem;
  cursor: pointer;
  text-transform: capitalize;
}
.inputSendMessage {
  font-size: 2rem;
  color: var(--color1);
  margin: 0;
}
.contactCircleArrow {
  transform: translate(-50%, -50%) rotate(-180deg);
}

/* FOOTER */
.footer {
  left: 5rem;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 8rem 0;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color4);
}
.footerBtnHaut {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 6rem;
  font-size: 3rem;
  text-transform: initial;
  color: var(--color3);
}
.footerBtnHaut:hover {
  color: var(--color3);
}
.footerCircleArrow {
  position: initial;
  width: 2rem;
  height: 2rem;
  transform: rotate(-180deg);
}
.footerBtnArrow {
  margin: 0;
}
.footerContent {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.footerMentions,
.footerCopyright,
.footerDroits {
  margin: 0;
}
.footerMentions:hover {
  color: var(--color3);
}
.footerCopyright {
  text-transform: capitalize;
}
.footerReseaux {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footerReseauxIcon {
  fill: var(--color1);
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.footerReseauxIcon:hover {
  fill: var(--color3);
}

/* RESPONSIVE */
@media screen and (max-width: 1400px) {
  .circle {
    right: 5rem;
  }
}
@media screen and (max-width: 1200px) {
  .projectsCard {
    width: 18rem;
    height: 33rem;
  }
  .projectsContent {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1100px) {
  .lines {
    justify-content: space-around;
  }
  .home {
    flex-direction: column;
  }
  .homeCard {
    transform: none;
    width: 40rem;
    height: 50rem;
  }
  .homeTitles {
    transform: none;
    align-items: center;
  }
  .homeSubtitle {
    margin: 0;
    transform: translateY(-2rem);
  }
  .homeTitle:nth-child(1),
  .homeSubtitle {
    margin: 0;
  }
  .homeTitlesContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: none;
  }
  .homeTitle:nth-child(1) {
    transform: none;
  }
  .homeTitle:nth-child(2) {
    transform: translateY(1.4rem);
    margin-left: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .circle {
    display: none;
  }
  .homeCard {
    width: 70%;
  }
  .homeCardImg {
    background-position: top;
  }
  .homeLanguages {
    display: none;
  }
  .contactTitle {
    transform: none;
  }
  .contactForm {
    width: 70%;
  }
  .contactFormInformations {
    flex-direction: column;
    width: 100%;
  }
  .inputFirstname,
  .inputMessage,
  .inputBtnSend,
  input {
    margin: 1rem;
    width: 100%;
  }
  .footerBtnHaut {
    display: flex;
  }
  .homeSubtitle {
    transform: translateY(-1rem);
  }
  .homeCardDescription {
    font-size: 2rem;
  }
}
@media screen and (max-width: 800px) {
  .footerContent {
    flex-direction: column;
    justify-content: center;
  }
  .footerContentFirstDiv,
  .footerContentDiv {
    text-align: center;
  }
  .footerContentDiv {
    margin-top: 5rem;
  }
  .footerReseaux {
    justify-content: center;
  }
}
@media screen and (max-width: 650px) {
  .home {
    transform: translateY(-4rem);
  }
  .homeTitlesContent {
    flex-direction: column;
  }
  .homeTitle:nth-child(1) {
    transform: translateY(6rem);
  }
  .homeTitlesContent {
    transform: none;
  }
  .homeTitle:nth-child(1) {
    transform: translateY(5rem);
  }
  .homeTitle:nth-child(2) {
    transform: none;
  }
  .homeSubtitle {
    transform: translateY(-2rem);
  }
  .nav {
    top: 3rem;
  }
  .navLogo {
    margin: 0 0 0 3rem;
  }
  .navIconMenu {
    margin: 0 3rem 0 0;
  }
  .projectTitles {
    flex-direction: column;
  }
  .projectTitle {
    transform: translateY(7rem);
  }
  .projectTitleLastWord {
    margin: 0;
  }
}
@media screen and (max-width: 650px) {
  .menuActivated {
    width: 100%;
  }
}
